*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    
    li{
        background-color:  rgb(170, 53, 160);
        list-style: none;
        padding: .5vw;
        border-radius: 20%;
    }
}

h2{
    background-color:rgba(219, 46, 205, 0.507);
    height: 5vw;
    display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vw;
  border-radius: 1em;
  font-size: 1vw;
}

header{
background-color: rgb(219, 46, 205);
height: 20vw;
margin-left: auto;
margin-right: auto;
padding: 2vw;
margin-bottom: 40vw;
    .logo{  
    display: block;
    width: 20vw ;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vw;
    }
    nav{
        display: flex;
            flex-direction: row;
        .nav-item{

            .nav-link{
                
                text-decoration-color: white;
            }
        }
    }
}


main{
    margin-top: 6vw;
    margin-bottom: 6vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6vw;

    h2{
        text-align: center;
    }

    section{

        margin-bottom: 9vw;
        margin-top: 5vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 6vw;
    }

    .card{
           margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%; 
    width: auto;
    }

    .card{
        transition: all .5s;
    }

    .card:hover{
        transform: scale(1.1);
        transition: all .5s;
    }
}